<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Edit Transaction</h1>
            <form action="/transaction/edit/<%= transaction._id %>" method="POST">
            <input type="hidden" name="transactionId" value="<%= transaction._id %>">
            description: 
            <input type="text" value="<%= transaction.description %>" name="description"><br>
            category: 
            <input type="text" value="<%= transaction.category %>" name="category"><br>
            amount: 
            <input type="number" value="<%= transaction.amount %>" name="amount"><br>
            date: 
            <input type="date" value="<%= transaction.date.toISOString().substring(0, 10) %>" name="date"><br>
            <button type="submit" class="btn btn-primary">Update Transaction</button>
            </form>
        </div>
    </div>
</div>